<a
  href={{href-to "event" @event.slug}}
  class={{css "current-event" color=@event.color}}
>
  <ResponsiveBackground
    @image="affiche_designingcommunity.jpg"
    class="w-full h-64 md:h-screen bg-contain bg-center bg-no-repeat"
  />
</a>