{{#each @events as |event|}}
  <a
    href={{href-to "event" event.slug}}
    class={{css "event-link" color=event.color}}
  >
    <ResponsiveBackground
      @image="affiche_designingcommunity.jpg"
      class="w-full h-64 md:h-screen bg-contain bg-center bg-no-repeat"
    />
  </a>

{{/each}}
