<h1 class="flex items-center flex-no-shrink mr-8">
  <a
    href={{href-to "index" (query-params target="top")}}
    class="focus:outline-none focus:shadow-outline p-1"
  >
    <ResponsiveImage
      @image="logo_noos.png"
      class="w-48"
      alt="Noödesign"
    ></ResponsiveImage>
  </a>
</h1>