<div class="block md:hidden">
  <button type="button" class={{css "menu"}} {{on "click" @onClick}}>
    <svg
      class="fill-current h-3 w-3"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>
        {{t "nav.title"}}
      </title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </button>
</div>