<div
  class="{{if @isExpanded "block" "hidden md:block"}}
     w-full flex-grow md:flex md:items-center md:w-auto mt-2"
>
  <div class="text-sm md:flex-grow">
    {{#each @nav as |link|}}
      <a
        href={{href-to "index" (query-params target=link)}}
        class={{css "nav-link"}}
      >
        {{t (concat "nav." link)}}
      </a>
    {{/each}}
  </div>
</div>