

<slug class="w-full text-left">
  <h3 class="mb-2">{{@project.title}}</h3>

  <p class="text-left mb-2">à {{@project.where}}</p>

  <p class="text-left mb-6">
    En partenariat avec {{join @project.partners}}
  </p>
</slug>

{{text-block text=@project.about}}
