<div class="text-left relative z-0">
  <ResponsiveBackground
    @image="logo.png"
    class="bg-contain bg-center bg-no-repeat absolute pin opacity-10"
  />

  {{#each @text as |text|}}
    <p class="mb-4">
      {{text}}
    </p>
  {{/each}}
</div>