---
language: node_js
node_js:
  - "8"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1
    - EXPERIMENTAL_RENDER_MODE_SERIALIZE=true
    - secure: "QAVHP9E2Em9X/h33Z/1y9nWGyxo3q2idgRwqSWomZp9N+FL7vKe40I5mRnEaengkYKM+RcQALxOPMJBS9PNauLxtyFtQQbRDW4JKC1ERhk/ExvdSF8M+ilbM4dBmaGNxwoOVwAnxkD/NnsGsaQARBpXaSCx0df58Uda6HjARYTZOoD9MSVj0tQ3ijbiQ3NsBfRaDSzszaU4RDs4WKPuKzbc6YZwnJU4kzhIfv/UVQbstsU2e6bCyS6dAWIfdUML9IW0qMDNUU5nuPiqE9x11ji5jFh1RG21m2ji5+4fDeKIP9SQtoGS0drANKTCV0z2WOOf1W/jrEF21r6aN40Arow8knozUN2o+k9nwJHT6i6Yf+LrDqZ2/KFQG+UidqyCGODSWkmMI4h5sDQsGtrjgcx/OYc66HcQNWyO9O58+FGA/NtkCy7orWg4gPg6mrszNS5Hs7POmARTI/UwyvLoxNgbtTZtj57c/8c4FHbOOkp50F/CC1FldO2tsxH+WnLriTbfz9XV+vNAYi7eXV9SIZ/ffunQGD9RXkfTYaC2Yl46zCCnx0u1/QfroIucoAf8M9FMu1abDNJRzcIoYB4251LsqoWKWdNFZjCy7Psvo0E5aC1JQo7PXOBaVb+0O5kmDvFEDVtXIG1dXJre/H2uN5YR3H8u6UsPcGUUC+spODk0="
    - secure: "SXfbD/Rm8i2K2tPVUVsYglKf/Ouc6U+I/jsUxKmiCL8b1eAxqE+T6Pj4LCCy6Zxneyk3zWRk6/C/+VYWOMIpI2eZnfcEcpufH8lPwWy4lh4GFbftsNmHWnaLS8LmSpxrTG6q5DyYe4qyabbRsPN4ejRkYV0KC1KTREg8MkH8RmmVAyn21DNNe/GqDwHcp8k1QVXdd7RUca/S6eJBWMTDuoGXkszME2cXTVw2zQ5W1Sj+B6XJ9yKJXAuqg0M0qLyTCWBNrb2Shg8HCdeL3PG7GdPU7TziUws/15qjMlm4iDmHWPSWabWTbHSkRLEBTPqz7NFAwsXDsC2ej/2nSps8KF+wqekVr45PJsw+oKCFNxAx1Xn0KNHXU0e+Xv6hJcCi+N+lFACBBOY87R/koiCgwBqVmPByYc1hFEluLToluIDiRzamegZfYzjfOTp9jhLvxykq8HjMdOC8F9gmFNoIx3qydIAQgmfk+TaVs3q18tWUF5bHU5OMYcTxjzTXkISnG1HVDx89hIgtCNxegNCpEaU1Ob42g3i9LxnrgaOGYDfVcnHpWHKti2ArF1P4ryCpWsOiAsJjEsnnz+9YFU3EucQNRVmp7uedgxYvOBZjttDco8S0qxixM0b0UwqaQ98PKCAYQPmJ3SF2OMwgbylTdmDHEbJ4Bz4BVvbHjSvA600="
    - secure: "NFcQqsfaAyNkS6nrtI4SceAMmjdNADuP/+s+iH33MTNrr346MESGKuHCL/hY3O+l0YYoYKCLOA//b9hBAQEst1KZAa4vU97r5FHxm73PYH0qvTHp/onH/RzQitgwZTTpsc8ozl4TBS/jZMFTJGg7MLlUOpao2Ojm3R34unyDctXc22KrAkUGE2Id+3/dKSLyLyD/rTJPmdJ8hLgvHtzNvTNMqChsDPfE7qeWgKZ22kHF5S1pTCbPyrBAJDB+nm0wOHe9qfsZr/X5qkfPUpOgpfb64f2c3jqCxS8/XQFrQNUJqnv+89MTVXsqT0kthw8es145FpkIDgl9UGUWIiD/RaktpKfP4qPGIKARQNRlq50nDEeaYHVIWkbTtVNNF1wfPzfmbRCh6dT8TquJt7yYgmMbrB6gu1Ss81t8Oc2Oinx/TGBv03/RM7yRuLMgSCYLkLBTYFON+esC+9UcAi6Eo7R4WRVnU03h+qHLLM7NXLtZKsN/B4JnST3VVB9roaIalyG7XQdxJJg+zhNzHEc3xGYbxcVH+W3tQ8bdwMnFBhcjCprt/DOFqZP26YGx9Rv2VY/UV4gBM0QOZiALEmHmpDaM1hKrl1MdMLC51rVitjvOW5u0TmukHlKCGIDFnNQxHtKEhcWgQZVvKO+TZ1N6a6A7oO+wds5nbrbVO3Unwl0="
    - secure: "A3krw5V6M/Uk74kJQLZxWkpNLoi2AnKaSeIbOPVfb3R0ohl4wNPssasQGxI0algjV5O0sjyGMZoVZQJZVL7PN10dsDWqB+j965sSJUmpKwHbaFbIeMm7V4h3ZyWVsErIkI15qI7/8OkLKTjKr5H0SLbfzum9eLgc19cJ31+bSvifX0drFfpXIh/GtbMwOQ8VUbgFgCQZA/yj/3YRrd/7nV0y1cML/FDHGKKbKxNzEMrSP1ogHh63TSwKHWaddqmrc0fuHG9vdMSDfbXG62Dqv/B5+6TDGYW37gkrrVrkbCYdKtqZG25AAEi+ESzHHXg8sdv/fLs7HvfIMCNCOcNdzPefjPtsbvbN19M3yeQRUxpQJ7NA7KW0G/+CSdPjghHKwLv7BWDf3kbCHROKkdIX61IU8zTYFKeWF+dAwlHujqOBsoGykH3DOgectq1zQ5kcouFfZPPO2nL3yJ3tiKqfMvB8n0dikCWGwMkK4x+g8zXBVFfTA0ykxDZWTgzLAe9HMSwX/ZqQkpALhXD0RpY8g+n87epcKAmDnGuycfdDib5P5tWwtmXJb6RCe78aqDyilMnIsQamxXLZNLL4KQ+noWe9VdhabZMWpgQKY5BrKKwzBstdgKChQWVATUN4HXT7uiDQQ1BFDW5IkFJixn1tTTzJMRa1MGR/kYg8TasYtMk="
    - secure: "lYQLEDlTK89/Kme6djkKwX1wplOW87vMTlEo128pL/95BIv0LH/y5WB5FN7thkg8SH/TktAVbr0zVgItKg5mQZzafZZS3GC923gMbLSLGUnHOQH2ggJ8maoT6mensKmPvekZVmpyjvnad1M+IyZnRQE53T2fbHgwx68BH/V/yDq6bwcCVJgbfa7XeXkcFwV4ce/rVmy2SijG4NTctCyoOLO86ZBafIhVEg5gKAJjq1Y/u9cXpmLukK+S89Efet9fEXVSphBhmbwXWm7TNQpRq/a2/KUIqV1oJ5+7nXyVnAJ7w1fDxFgWbvvYkai04Co5D8orheGnT+GhcXPsJkKPCXVatWLghTAxJ91rAF//KH+F+Fvzq1nzPVnQigpk2mmXO90lM+s3QMK0kyqHDPbJjS8l9aWSeMlicNpce1WNkEYvLaY/JkRsuBz7uQ6ipoTk8TWCPX9q9Ni2jgIS5bshzSPM+CCpOIR2XJvp+CjiLYqidSUyQt5or17Wb3rd5s7oPCbZbZIktUvUmiCZwK1zJdQ7MLIVZaMcPgaS5HomgawLwTJeBICLnWpmKQKO1lTYSWr9AazRVG6FWAtG9cLQLIMak5RaMtMX6PlTVvQ3bQRjFDk+1+2AJk1wqxhjjmiiAxLczEiWwYb89pBqXSeqZA+b3XnBSG5qopGIcPkv73s="

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --non-interactive

script:
  - yarn download
  - yarn lint:js
  - yarn bundlesize
  - yarn test

deploy:
  provider: script
  script: bash scripts/deploy.sh
  skip_cleanup: true
  on:
    branch: master
