---
language: node_js
node_js:
  - "8"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1
    - secure:
      nQhf1wjZ6JV/4Z6G+chKWYqRxIgXyEnQrvt4C6pRF1d+r4USmoVYTpE6o3czLODptjGm52spXIfW8L4jXSMz8c4yxB4I2kiuN+ZOVtroh/XcVobP6K8K31Fsu7z8L/CUoTIAEpn5sSFbhWsC19M8UGd+Ic+La9lIkIbUlKOoGHmkNUQ04fa9t0Sjcs5FzDYVCevd2Wp1qW7yVPQIPQtEtQYbIXk1M500Rg0wQbKEMp/lIe5kkjRVTNYWDsqnWqx39Ugx2VU83uTbawsLP4CBSA/PxZmcpBSF6TQI7wP8TEVWZqXhyd8tuyUOeAb09tVpvAZ2XT4z29/o8TEwJfLFuumvkObAeu0oxzUydqPqyn5bK5PpyGaZFO35PXAV6kwMUNcySKIr1iNW51/eZBiVsX/VH4USA9KjkwyIO2cORfaF9mcz2OAMY7wE7Eg5bmgW0IMNLL//nPF+KuCAMnQdgOeWv5CC1rDWFYFp2B/ZgS10wY3XkvlWT0MS2sY4g1iZXHEASVzI2LQI+sJ1D46DEw0QLJsJ0egl5aRoemyy8LgdtvfwnIsB7cbmi9wA/ArxMbFXS61IHHtz604NlW1Gn0nNOuB39KoxAAK8SNcnUbKxzoDCuDjFEhR4k8V65EYNx6arvMQzj0jDOqdrt4+jU4mLJn6LaXtraP8pOEE3dko=
    - secure:
      tlUQw+73ZLsflWg8Sa8HnkPpcopfm06uTeONFwbeQmyuBi0xQVBtVta4o50ibfeZdtSDQTJKHJKBfa6fPMIF/pCNHj9Ks78xdZIQ0QpbUeAzs9Pt32vLvsF7Ig0lkI8Fqcp9ZqK8eCwZUkiBXJpmdT5MbIvUtASUG5d+b8dsujuvUZYSRX0+oj+ol+CGGRiZEVlgoHHWGteSrs+AcVW3e9VphOKHALkVFEBbmRc1wqD0XAkx2SO2ier0HDQnSt+hOmnqKrZ8hQFkY5HMaDPHta5LyyTyZCXJjaoIhGtMA8UKuMjqVePJJMs8sLGi63QAFzR7O3cvY7ZViIMm61rmARpbrbHaLqU/x2z+I6lri5ozl8k029WK4/wblZHQqLzvOkMF6IFqOfi4ujjGyDXAeudkMqw9m8DCEWou66SGNBDzhpme4HAqLnQDR7VbvmMlKzWa+4ZkTLc9E51w619UPUBL85UkG27QQ0Utg8q7batfgTEew4GG9TsVfCqKRfqR2mf1zWTaViTodyyibXkio7TVKo908ZhBAvlfGlD7OOxlHoq+uWmODD2roddJ+G39N3XeF6NwbMgG/Kp25rM6F9EfBF8eR4A0uszTlRnTNR/biXZu3vmQ9utGTXtAQA/3QzC0TDRip571A6I+V33efD5h/mhAkX7aaL7kEy/X+wI=

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --non-interactive

script:
  - yarn lint:js
  - yarn test

deploy:
  provider: script
  script: ember deploy production
  skip_cleanup: true
