{{title "Argumentaire théorique"}}
<div class="container md:px-8">
  <EventTitle class="text-center m-8">
    Argumentaire théorique
  </EventTitle>

  <p class="mb-8">
    Meetup, WeWork, WeGrow, WeLive, WE Companies. A en croire les noms des derniers fleurons de l’économie américaine, l’idéal de vie communautaire et collaboratif se réalise enfin. Le cofondateur de WE Companies, Adam Neumann, n’hésite d’ailleurs pas à glorifier l’avènement d’une nouvelle « We Generation » qui combine révolution technologique, révolution du travail et révolution sociale par l’adhésion à de nouveaux dispositifs et programmes communautaires. « Nous faisons un kibboutz capitaliste
    <sup>
      <a href="#note1">
        [1]
      </a>
    </sup>
    », un « kibboutz 2.0
    <sup>
      <a href="#note2">
        [2]
      </a>
    </sup>
    », déclare-t-il ainsi au journal Haaretz.
  </p>
  <p class="mb-8">
    Le rêve communautaire hippie était déjà à l’origine de la fondation d’Internet, comme le rappelle Fred Turner (Turner, 2012). Avec WE Companies, une startup valorisée à 20 milliards de dollars, l’idéal de la communauté ne renvoie plus seulement à une communauté virtuelle (Rheingold, 1995), mais propose, comme le montre Evgeny Morozov, une nouvelle conception cool et technologique « de la ville d’entreprise, bien qu’avec des formes beaucoup plus subtiles d’ingénierie sociale.
    <sup>
      <a href="#note3">
        [3]
      </a>
    </sup>
    » A l’instar de Facebook, WeWork est une plateforme numérique qui disrupte les distinctions sociales entre producteurs et consommateurs, entre travail et non-travail. La nouveauté est qu’elle actualise en plus les échanges virtuels en allouant par le digital labour (Casilli ; Cardon, 2015) les infrastructures spatiales qui permettent aux usagers de « se réunir (physiquement), bavarder, discuter de nouvelles idées, et innover de manière collaborative
    <sup>
      <a href="#note4">
        [4]
      </a>
    </sup>
    ».
  </p>
  <p class="mb-8">
    Une des raisons majeures expliquant la résurgence de l’idéal communautaire au sein du capitalisme entrepreneurial est notamment liée à la revalorisation de l’affect par rapport à l’intérêt dans les théorisations neuro-économiques de la décision et de l’action (Damasio, 2003). L’affect est notre « puissance d’agir », écrivait déjà Baruch Spinoza, qui concevait l’action comme une puissance des affects et des passions. Or, si la communauté se distingue notamment de la société par un partage d’affects communs, tandis que la seconde repose sur un partage d’intérêts communs (Tönnies, 2003), alors travailler « en communauté » deviendrait plus passionnant que de travailler « en société ». Ce capitalisme des affects ambitionne ainsi de mobiliser la puissance d’agir des affects par le jeu de processus et designs collaboratifs organisés au sein de dispositifs communautaires. Cette mobilisation de la puissance affective permet ensuite de capter l’attention des participants, de gagner leur adhésion, de déterminer et entretenir leur engagement et de puiser leur énergie pour les mettre au service d’un travail commun et de l’intérêt capitalistique du projet.
  </p>
  <p class="mb-8">
    L’explosion et les succès commerciaux des dernières tendances de l’innovation entrepreneuriale américaine ne doivent cependant pas faire oublier que les idéaux politiques modernes et postmodernes de la communauté ne consistent pas à faire travailler ensemble des micro-communautés, mais à refonder une communauté démocratique et cosmopolitique (Hui, 2016), qui puisse transcender les intérêts particuliers et communautarismes. Or, si « l’affect commun est bien l’essence, l’élément, de la transcendance du social » (Lordon, 2015, p.66), comme l’écrit Frédéric Lordon, alors le devenir-commun des affects est un des ressorts fondamentaux de la démocratie et du cosmopolitisme. Avec le développement de dispositifs de codesign comme WeWork, nous assistons à un foisonnement de micro-communautés virtuelles ou actuelles de travailleurs qui émergent dans des temps éphémères, se superposent, s’agrègent parfois, puis se désagrègent une fois le travail accompli. Le devenir-commun des affects est donc privé de son devenir-politique, car les affects se trouvent enfermés dans des circuits économiques de l’innovation entrepreneuriale, dont le codesign est le nouveau modèle.
  </p>
  <p class="mb-8">
    Depuis l’apparition des plateformes numériques, les affects peuvent être en outre grammatisés (Stiegler, 2013, Pharmacologie), c’est-à-dire segmentés, particularisés, mesurés, analysés et objectivés pour être traités par des algorithmes. En 1997, Rosalind Picard, directrice de recherche au MIT, nomme affective computing (Picard, 1997) les approches informatiques visant à analyser et intégrer les émotions à des programmes informatiques. « L’affect devient ici le primum movens de la production de valeur au sein des modèles d’affaires des plateformes numériques » (Alloing ; Pierre, 2017, p.5), écrit Antonio Casilli en préface de l’ouvrage de Camille Alloing et Julien Pierre qui théorisent l’apparition d’un nouveau « capitalisme affectif numérique ». Ainsi, l’affective computing est généralement employé soit pour manipuler les affects des usagers dans des boucles de rétroactions individuelles, soit pour les amener par individualisme méthodologique vers des pratiques de crowdsourcing en coordonnant l’action de foules numériques. La multitude qui se déplace et se liquéfie sur les réseaux sociaux numériques, voit donc son devenir-politique corrompu (Negri ; Hardt, 2000 ; Tufekci, 2017) par un design qui la transforme en co-travailleurs, plutôt qu’il ne la dispose à une nouvelle économie politique des affects (Citton ; Lordon, 2008).
  </p>
  <p class="mb-8">
    Or, si « la multitude vient à s’assembler non sous l’effet de la raison mais de quelque affect commun » (Spinoza, 2005, p.1), peut-on imaginer qu’un nouveau design des affects puisse assembler la multitude pour engendrer une communauté démocratique et cosmopolitique ? Quelles puissances la technique et la technologique peuvent-elles nous donner pour designer une communauté politique, à partir de son ressort psychosomatique, l’affect commun ? Quels processus et circuits le design peut-il tracer en vue de constituer les affects communs d’une telle économie de valeurs ?
  </p>
  <p class="mb-8">
    Ces questions étaient au cœur des enjeux initiaux du design participatif, apparu en Scandinavie, à la fin des années soixante. Contre l’opposition fonctionnelle de l’invention et de la consommation engendrée par la division et spécialisation du travail social promue par le capitalisme industriel, certaines corporations d’architectes hollandais et belges (Bouchain, 2013) ainsi que de syndicalistes scandinaves avaient souhaité expérimenter de nouveaux modes de production qui visaient à pallier l’absence totale d’implication des habitants et des travailleurs dans les processus de production industrielle. L’enjeu n’était pas seulement social, il était aussi politique. Il s’agissait de repenser par le processus de production du design le processus de production de la communauté, à travers des dispositifs et des procédures de fabrication spécifiques, qui permettait à une individuation collective (Simondon, 1989) de se réaliser. Pour cela, les designers participatifs ambitionnaient de mettre au service de la multitude la puissance politique du design afin d’inventer un design démocratique qui visait à constituer une communauté démocratique par la participation et l’invention de leur propre milieu technique (Simondon, 2012). La fabrique démocratique était ainsi conçue comme un processus de transindividuation (Stiegler, 2013, De la misère symbolique), c’est-à-dire un enchâssement des je et des nous, par la médiation technique.
  </p>
  <p class="mb-8">
    Cependant, l’enjeu cosmopolitique qui nous incombe requiert de repenser et d’étendre les échelles des processus d’affection, pour que le commun ressenti ne soit pas seulement celui des habitants d’un territoire, mais aussi du commun du monde, et de toutes les communautés politiques intermédiaires qui établissent la longue chaine d’une connexion de soi au monde. Comment donner un développement planétaire aux processus d’affection, qui trouve ses principales ressources dans l’expérience commune d’un territoire ? Est-il possible de dialectiser la puissance de virtualisation donnée par un réseau social numérique avec la territorialité d’une expérience participative ? Comment conférer à la figure du community designer une puissance cosmopolitique et démocratique qui articule global et local à travers de nouveaux dispositifs et infrastructures numériques ? Enfin quelles nouvelles civic tech peut-on inventer pour reterritorialiser nos vies numériques ?
  </p>

  <p id="note1" class="text-xs">
    1.
    <a
      href="https://www.haaretz.com/us-news/MAGAZINE-by-harnessing-israeliness-wework-joins-the-ranks-of-uber-airbnb-1.5435939"
    >
      https://www.haaretz.com/us-news/MAGAZINE-by-harnessing-israeliness-wework-joins-the-ranks-of-uber-airbnb-1.5435939
    </a>
  </p>
  <p id="note2" class="text-xs">
    2. Ibid.
  </p>
  <p id="note3" class="text-xs">
    3.
    <a
      href="https://www.theguardian.com/commentisfree/2017/dec/03/digital-hippies-integrate-life-and-work-wework-data-firms"
    >
      https://www.theguardian.com/commentisfree/2017/dec/03/digital-hippies-integrate-life-and-work-wework-data-firms
    </a>
  </p>
  <p id="note4" class="text-xs mb-8">
    4. Ibid.
  </p>

  <p class="font-semibold mt-10 mb-4">
    Bibliographie indicative :
  </p>
  Allard, Laurence. (2008) « L’impossible politique des communautés à l’âge de l’expressivisme digital », Cahiers Sens public, n° 7-8
  <br />
  Alloing, Camille ; Pierre, Julien. (2017) Le Web affectif, une économie numérique des émotions, INA Editions. Bry-sur-Marnes
  <br />
  Atelier Georges ; Rollot, Mathias (sous la direction de) (2018) L’hypothèse collaborative, Editions Hyperville
  <br />
  Beck, Ulrich. (2016) Qu’est-ce que le cosmopolitisme ? Aubier, Paris
  <br />
  Bouchain, Patrick. (2010) (sous la direction de) Construire ensemble, Le Grand ensemble, Paris
  <br />
  Bouchain, Patrick. (2013) (sous la direction de) Simone et Lucien Kroll, une architecture habitée, Actes Sud, Paris
  <br />
  Boutang, Yann Moulier. (2007) Le capitalisme cognitif, Editions Amsterdam, Paris
  <br />
  Brossat Ian (2018). Airbnb la ville ubérisée, Éditions la ville brûle, Montreuil
  <br />
  Cardon, Dominique. (2010) La démocratie Internet: promesses et limites, Le Seuil, Paris
  <br />
  Cardon, Dominique ; Casilli, Antonio. (2015) Qu’est-ce que le Digital Labor ?, INA, Bry-sur-Marne
  <br />
  Casilli, Antonio. (2010) Les liaisons numériques. Seuil, Paris
  <br />
  Cervule, Maxime ; Pailler, Fred (2014), « #mariagepourtous : Twitter et la politique affective des hashtags » in Revue Française des Sciences de l’Information et de la Communication, n°4
  <br />
  Choay, Françoise. (1965) Urbanisme, utopie et réalité, Seuil, Paris
  <br />
  Citton, Yves. (2017) Mediarchie, Seuil, Paris
  <br />
  Citton, Yves ; Lordon, Frédéric. (2008) Spinoza et les sciences sociales : de la puissance de la multitude à l’économie politique des affects, Éditions Amsterdam, Paris
  <br />
  Collomb, Cléo. (2016), « Un communisme numérique. Être-en-commun avec Jean-Luc Nancy », in Caillé Patricia. (sous la direction de.) Communautés en ligne et constructions identitaires, Strasbourg
  <br />
  Damasio, Antonio. (2003) Spinoza avait raison. Joie et tristesse, le cerveau des émotions, Odile Jacob, Paris
  <br />
  Duhem, Ludovic ; Rabin, Kenneth. (2018) (sous la direction de), Design Ecosocial, Redit Editions, Faucogney-et-la-Mer
  <br />
  Ehn, Pelle; Elisabet M. Nilsson and Richard Topgaard. (2014) Making Futures, Marginal Notes on Innovation, Design, and Democracy, MIT press, Boston
  <br />
  Ertzscheid Olivier (2019), « De l’algorithme des pauvres gens à l’Internet des familles modestes » in Joseph Confavreux (sous la direction de) Le fond de l’air est jaune, Comprendre une révolte inédite, Editions du Seuil, Paris
  <br />
  Eudes, Emeline ; Véronique Maire. (2018) (sous la direction de) La fabrique à écosystèmes, Editions Loco, Paris
  <br />
  Hauptmann, Eleonore ; Wates Nick (2010) Concertation citoyenne en urbanisme, La méthode du Community Planning, Editions Adels et Yves Michel
  <br />
  Hollinger, David. (1995), Postethnic America, Basic Books. New York
  <br />
  Hui, Yuk. (2016) The Question Concerning Technology in China. An Essay in Cosmotechnics, Urbanomic
  <br />
  Huyghe, Pierre-Damien. (2015) Art et industrie, philosophie du Bauhaus, Circé, 2e édition, Paris
  <br />
  Huyghe, Pierre-Damien. (2014) A quoi le tient le design ? De l’incidence éditeur, Paris
  <br />
  Illich, Ivan. (2005) Œuvres complètes, Fayard, Paris
  <br />
  Ingold, Tim ; Descola Philippe. (2014) Être au monde. Quelle expérience commune ? Presses universitaires de Lyon, Lyon
  <br />
  Ingold, Tim. (2017) Faire - Anthropologie, Archéologie, Art et Architecture. Editions Dehors, Paris
  <br />
  Jorn, Asger. (1958) Pour la forme, L’internationale Situationniste, Paris
  <br />
  Koivunen Ana ; Paasonen Susanna (2001), Affective encounters, University of Turku, Turku
  <br />
  Latour, Bruno. (2017) Ou atterrir ? Comment s’orienter en politique?, La découverte, Paris.
  <br />
  Leroi-Gourhan, André. (1965) Le geste et la Parole, t.2, Albin Michel, Paris
  <br />
  Lordon, Frederic. (2015) Imperium, structures et affects des corps politiques, La fabrique Editions, Paris
  <br />
  Lordon, Frederic. (2018) La condition anarchique, Editions du Seuil, Paris
  <br />
  Macé, Marielle. (2016) Styles : critique de nos formes de vie, Gallimard, Paris
  <br />
  Massumi, Brian (2018), L’économie contre elle-même, Lux Editeur, Montréal
  <br />
  Morizot, Baptiste. (2016) Pour une théorie de la rencontre, hasard et individuation chez Gilbert Simondon, VRIN, Paris
  <br />
  Morozov, Evgeny; Bria, Francesca. (2018) Rethinking the Smart city, Democratizing Urban Technology, Rosa Luxemburg Stiftung, Rapport, New York.
  <br />
  Nancy, Jean-Luc. (1986) La communauté désœuvrée, Christian Bourgeois éditeur, Mesnil-sur-l’Estrée
  <br />
  Nancy, Jean-Luc. (2001) La communauté affrontée, Galilée, Paris
  <br />
  Negri, Antonio; Hardt, Michael. (2000) Empire, Exils, Paris
  <br />
  Norman, Donald. (2005) Emotional Design: Why We Love (or Hate) Everyday Things, Basic Books, London
  <br />
  Parmett Helene Morgan. (2012) « Community/Common: Jean-Luc Nancy and Antonio Negri on Collective Potentialities », Communication, Culture &amp; Critique, n°5
  <br />
  Pasquier, Dominique, (2018) L’internet des familles modestes, Enquête dans la France rurale, Presses des Mines. Paris
  <br />
  Picard, Rosalind. (1997) Affective Computing, MIT Press, Boston
  <br />
  Rancière, Jacques. (2000) Le partage du sensible, La fabrique Editions, Paris
  <br />
  Rheingold, Howard. (1995) Les Communautés virtuelles, Addison-Wesley France.
  <br />
  Rouvroy Antoinette ; Berns Thomas. (2013) Gouvernementalité algorithmique et perspectives d’émancipation. Réseaux, n°177
  <br />
  Schaeffer, Jean-Marie. (2015) L’expérience esthétique, Gallimard, Paris
  <br />
  Sennett, Richard. (2002) La Chair et la Pierre : le corps et la ville dans la civilisation occidentale, Verdier, Paris
  <br />
  Sennett, Richard. (2009) La conscience de l’œil, Éditions Verdier, Lagrasse
  <br />
  Simondon, Gilbert. (1989) L’individuation psychique et collective, Paris, Aubier
  <br />
  Simondon, Gilbert. (2012) Du mode d’existence des objets techniques, Flammarion, Paris
  <br />
  Spinoza, Baruch. (2005) Le traité politique, Œuvres 5, PUF, Paris
  <br />
  Srnicek, Nick. (2018) Capitalisme de plateforme, Lux Editeur, Montréal
  <br />
  Stiegler, Bernard. (2013) De la misère symbolique, Flammarion, Paris
  <br />
  Stiegler, Bernard. (2013) Pharmacologie du Front National, Flammarion, Paris
  <br />
  Surowiecki James. (2008) La sagesse des foules, Jean-Claude Lattès, Paris
  <br />
  Tönnies, Ferdinand. (2003) Communauté et Société, PUF, Paris
  <br />
  Tufekci, Zeynep (2017). Twitter and tear gas: the power and fragility of networked protest, Yale University Press, New Haven
  <br />
  Turner, Fred. (2012) Aux sources de l’utopie numérique, de la contre-culture à la cyber-culture, Stewart Brand, un homme d’influence, C &amp; F Éditions, Caen.
  <br />
  Vial, Stephane. (2010) Court traité du design. PUF, Paris
  <br />
  Virno, Paolo. (2009) “Angels and the general intellect: individuation in Duns Scotus and Gilbert Simondon”, Parrhesia, n°7
</div>